.respoonsive-carousel {
	margin-bottom: 1em;
}
.carousel-small {
 	font-size: .9em; 	
 }
.carousel-big {
	height: 625px;	
}
.carousel-big ul.rc-container li{
	height: 625px;	
}
@media (max-width: 768px) {
	.carousel-big {
		height: 300px;	
	}
	.carousel-big ul.rc-container li{
		height: 300px;	
	}
}